.li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #808080;
    
    
}


.but{
    background-color: #fff;
    border:1px solid #fff;
    color: #EA1D2C;
}

.b{
    background-color:#EA1D2C;
    border:1px solid #EA1D2C;
    color: #fff;
    border-radius: 3px;
}

.h{
    color:	#4F4F4F;
}